.arc_outer_norm {
    fill: #78C000;
}

.arc_outer_warn {
    fill: #E8AE25;
}

.arc_outer_danger {
    fill: #EB330E;
}

.arc_inner {
    fill: #C7E596;
}

.circle_center {
    fill: #F4F4F4;
}

.progress_number {
    font-size: 30px;
    font-family: serif;
}

.progress_percent {
    font-size: 18px;
}

.progress_label {
    fill: #898989;
}